// // @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// * {
//     margin: 0;
//   }
  
//   body {
//     font-family: "Poppins", sans-serif;
//     background-color: rgb(255, 255, 255);
//   }
  
//   .templatefour {
//     background-color: rgb(0, 0, 0);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     // height: 100vh;
//     // min-height: 100vh;
    
//   }
  
//   button {
//     all: unset;
//     padding: 6px 16px;
//     background: var(--red);
//     height: 32px;
//     color: white;
//     font-weight: 500;
//   }
  
//   .container {
//     margin: 0 auto;
//     max-width: 1280px;
//   }
  
//   .hero {
//     position: relative;
//     display: flex;
//     align-items: center;
//     height: calc(100vh - 72px);
//   }
  
//   .hero-content {
//     display: flex;
//     flex-direction: column;
//     position: relative;
//     gap: 36px;
//     background: url("https://wallpapercave.com/wp/wp12917725.jpg")center;
//     background-size: cover;
//     margin-top: 82px;
//     min-height: 100vh;
//     z-index: 2;
//     width: 1400px;
//   }
//   .hero-content p {
//         margin-left: 30px;
//   }
  
//   .hero h1 {
//     font-weight: 800;
//     line-height: 102px;
//     font-size: 70px;
//   }
  
//   .hero p {
//     font-weight: 600;
//     color: var(--gray);
//     max-width: 400px;
//   }
  
//   .hero-btn {
//     display: flex;
//     gap: 40px;
//   }
  
//   .hero-btn button {
//     font-size: 24px;
//   }
  
//   .secondary-btn {
//     background: transparent;
//     color: var(--gray);
//     border: 1px solid gray;
//     margin-left: 30px;
//   }
  
//   .shopping p {
//     font-size: 14px;
//     margin-bottom: 8px;
//   }

//   .hero-image {
//     // position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1; /* Ensure the image is above other elements */
//     position: relative;
//   }
  
  
//   .brand-icons {
//     display: flex;
//     // gap: 16px;
//     // display: flex;
//     margin-left: 150px;
//   }
  



///////////////////////////////////////////////////////////////////

.hero {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
  }
  
  .hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 36px;
    background: url("https://wallpapercave.com/wp/wp4998132.jpg") center;
    // background: linear-gradient((rgba(122, 89, 223, 0.349),rgba(122, 208, 107, 0.284)));
    background-size: cover;
    margin-top: 82px;
    min-height: 100vh;
    z-index: 1;
    width: 1400px;
  }
  
  .hero h1 {
    font-weight: 800;
    line-height: 102px;
    font-size: 70px;
  }
  
  .hero p {
    font-weight: 600;
    color: var(--gray);
    max-width: 400px;
  }
  
  .hero-btn {
    display: flex;
    gap: 40px;
  }
  
  .hero-btn button {
    font-size: 24px;
  }
  
  .secondary-btn {
    background: transparent;
    color: var(--gray);
    border: 1px solid gray;
    margin-left: 30px;
    margin-left: 150px;
  }
  
  .shopping p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure the image is above other elements */
    margin-top: 140px;
    margin-left: 190px;
  }
  
    .brand-icons {
    display: flex;
    // gap: 16px;
    // display: flex;
    margin-left: 150px;
  }
