.template2-container {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    font-family: 'Arial', sans-serif;

    .nav-links {
      font-weight: bold;
      display: flex;
      flex-direction: column; /* Set to 'column' for vertical arrangement */
    }
    
    .nav-links a {
      margin-bottom: 8px; /* Optional spacing between vertical links */
    }

    .work-section-bottom {
      margin-top: 1rem !important;
      // width: 600px;
      // background-color: #2980b9;
    }

    .work-section-info{
      background: linear-gradient(rgba(124, 143, 163, 0.878),rgba(88, 173, 139, 0.653))center;
      width: 700px;
    }

    
  
    &.dark-mode {

      background-color: #2c3e50;
      color: white;
  
      header {
        background-color: #34495e;
        color: white;
      }
  
      footer {
        background-color: #34495e;
        color: white;
      }
      social-container{
        position: fixed;
      }
      
    }
  
    &.light-mode {
      background-color: #ecf0f1;
      color: #333;
  
      header {
        background-color: #bdc3c7;
        color: #333;
      }
  
      footer {
        background-color: #d0d3d4;
        color: #333;
      }
    }
  
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
  
      .header-content {
        width: 70%;
  
        h1 {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }
  
        p {
          font-size: 1rem;
        }
  
        button {
          background-color: #374c5a;
          color: white;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1rem;
          margin-top: 1rem;
  
          &:hover {
            background-color: #2980b9;
          }
        }
      }
  
      nav {
        display: flex;
        gap: 1rem;
  
        a {
          text-decoration: none;
          color: inherit;
          font-size: 1rem;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  
    .home-section,
    .about-section,
    .project-section {
      width: 70%;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
      max-width: 100%;
  
      // Additional styling for each section
    }
  
    .home-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .home-content {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
  
        & > div {
          width: 48%; // Adjust as needed
  
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .home-content > div {
        width: calc(50% - 1rem); // Adjust as needed, subtracting the gap
      }
    }

    .column.right {
        width: 50%; // Adjust as needed
      
        img {
          max-width: 100%;
          max-height: 500px; // Set the maximum height for the image
          width: auto; // Ensure the image maintains its aspect ratio
          height: auto; // Ensure the image maintains its aspect ratio
        }
      }
  
    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
    }
  }
  