@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.template-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0px;
  padding-top: 120px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.template-collect .h1-sectoin{
  margin-top: 150px;
}
.template-heading h2 {
  color: #fff;
  font-size: 4em;
  position: absolute;
  transform: translate(-40%, -50%);
}
.template-heading h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #d5d1d1;
}
.template-heading h2:nth-child(2) {
  color: #041b25;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
///////////////////////////////////////////////////////////////////////////////////////////


  .template-collect {
  background: linear-gradient(#4062a5bc,#4c4d50bc);
  height: 100%;
  text-align: center;
  padding: 0px;
  }
  
  .template-list {
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
  }

  .template-item {
    display:flex;
    // height: 190px;
    // width: 400px;
    // flex: 1;
    flex-direction: row;
    border: 1px solid #f9f8f8;
    padding: 40px;
    margin: 20px 55px 10px 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 20px;
  }
  
  .template-preview img {
    // display: flex;
    // flex-direction:row-reverse;
    align-items: center;
    margin-top: 0px;
    max-width: 100px;
    height: auto;
    margin-right: 20px;
  }

  .template-previewTwo img {
    // display: flex;
    align-items: center;
    // flex-direction: row-reverse;
    max-width: 100px;
    height: auto;
    // margin-top: -150vh;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .template-details {
    flex: 1;
  }
  
  .use-template-button {
    background-color: #1b63bb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
  }

  .enlarge-on-hover {
    transition: transform 0.4s; /* Add a smooth transition effect */
    cursor: pointer; 
  }
  
  .enlarge-on-hover:hover {
    transform: scale(7.0); /* Enlarge the image on hover */
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // z-index: 1000;
    // width: 80%; /* Adjust the width as needed */
    // height: auto;
  }
  

  